#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
.next/build-manifest.json
.next/cache/images/aMzw8WRZMSFGYlNmaTVAqE2Wsflx+kc4I1r6cfJ7LBc=/0.1641575237199.uCSd3UUFHZFn2EprFJN3Cp5gpii5E1QYX8q6kky5DRU=.webp
.next/cache/images/ofDFWr0FyQzaeiicZt8x7-xSHaC15wbJubCPqS50tMU=/0.1641575237201.PmfKl7ob824cqF3eiqlWoTj8SunjJjOVmCOYGRw7NuY=.svg
.next/cache/webpack/client-development-fallback/0.pack
.next/cache/webpack/client-development-fallback/1.pack
.next/cache/webpack/client-development-fallback/2.pack
.next/cache/webpack/client-development-fallback/index.pack
node_modules/postcss/README.md
node_modules/postcss/package.json
node_modules/postcss/node_modules/source-map/source-map.js
node_modules/postcss/node_modules/source-map/source-map.d.ts
.next/cache/webpack/client-development-fallback/index.pack.old
.next/cache/webpack/client-development/
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/10.pack
.next/cache/webpack/server-development/13.pack
.next/cache/webpack/server-development/11.pack
.next/cache/webpack/server-development/12.pack
.next/cache/webpack/server-development/14.pack
.next/cache/webpack/server-development/15.pack
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/4.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/5.pack
.next/cache/webpack/server-development/6.pack
*.pack
*.old
.next/react-loadable-manifest.json
.next/server/_error.js
.next/server/middleware-manifest.json
.next/server/pages-manifest.json
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/login.js
.next/server/webpack-runtime.js
.next/static/chunks/_error.js
.next/static/chunks/amp.js
.next/static/chunks/main.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/login.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/development/_buildManifest.js
.next/static/development/_middlewareManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/bg-login.2b772bd8.png
.next/static/media/moldex-color.4a726e9a.svg
.next/static/media/moldex-svg.01947f95.svg
.next/static/webpack/787324a24706cbd8.webpack.hot-update.json
.next/static/webpack/7a7b29c2bc57eb46.webpack.hot-update.json
.next/static/webpack/webpack.787324a24706cbd8.hot-update.js
.next/static/webpack/webpack.7a7b29c2bc57eb46.hot-update.js
.next/trace
.vscode/settings.json
amplify/.config/project-config.json
amplify/backend/auth/agvs3a9b8e471/cli-inputs.json
amplify/backend/backend-config.json
amplify/backend/types/amplify-dependent-resources-ref.d.ts
amplify/backend/tags.json
*.md
amplify/cli.json
amplify/team-provider-info.json
*.ts
.DS_Store
