#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
.next/build-manifest.json
.next/cache/images/aMzw8WRZMSFGYlNmaTVAqE2Wsflx+kc4I1r6cfJ7LBc=/0.1641575237199.uCSd3UUFHZFn2EprFJN3Cp5gpii5E1QYX8q6kky5DRU=.webp
.next/cache/images/ofDFWr0FyQzaeiicZt8x7-xSHaC15wbJubCPqS50tMU=/0.1641575237201.PmfKl7ob824cqF3eiqlWoTj8SunjJjOVmCOYGRw7NuY=.svg
.next/cache/webpack/client-development-fallback/0.pack
.next/cache/webpack/client-development-fallback/1.pack
.next/cache/webpack/client-development-fallback/2.pack
.next/cache/webpack/client-development-fallback/index.pack
node_modules/postcss/README.md
node_modules/postcss/package.json
node_modules/postcss/node_modules/source-map/source-map.js
node_modules/postcss/node_modules/source-map/source-map.d.ts
.next/cache/webpack/client-development-fallback/index.pack.old
.next/cache/webpack/client-development/0.pack
.next/cache/images/hpab9GyNLtAj9tzFQwQW5RopnC5qvcSfuciAyFUiL3A=/0.1641581865370.C8shBKBDhhoJZrga4rkrqegO7VsL7qDj8ZMTmBcuyBY=.svg
.next/cache/webpack/client-development/1.pack
*.pack
*.old
.next/react-loadable-manifest.json
.next/server/_error.js
.next/server/middleware-manifest.json
.next/server/pages-manifest.json
amplify/README.md
amplify/hooks/README.md
amplify/cli.json
amplify/backend/types/amplify-dependent-resources-ref.d.ts
amplify/backend/tags.json
amplify/backend/backend-config.json
amplify/backend/auth/agvs3a9b8e471/cli-inputs.json
amplify/.config/project-config.json
.vscode/settings.json
.next/trace
.next/static/webpack/webpack.fac99dfed6070180.hot-update.js
.next/static/webpack/webpack.f6a33757704861ec.hot-update.js
.next/static/webpack/webpack.c9dc3ca3b2103c83.hot-update.js
.next/static/webpack/webpack.1b4730d560ae7ef7.hot-update.js
.next/static/webpack/pages/moldex/mapa.fac99dfed6070180.hot-update.js
.next/static/webpack/pages/moldex/mapa.c9dc3ca3b2103c83.hot-update.js
.next/static/webpack/pages/_app.c9dc3ca3b2103c83.hot-update.js
.next/static/webpack/fac99dfed6070180.webpack.hot-update.json
.next/static/webpack/f6a33757704861ec.webpack.hot-update.json
.next/static/webpack/c9dc3ca3b2103c83.webpack.hot-update.json
.next/static/webpack/1b4730d560ae7ef7.webpack.hot-update.json
.next/static/media/moldex-logo-white.7298ce4b.svg
.next/static/media/moldex-logo-color.42ac05de.svg
.next/static/development/_ssgManifest.js
.next/static/development/_middlewareManifest.js
.next/static/development/_buildManifest.js
.next/static/chunks/webpack.js
.next/static/chunks/react-refresh.js
.next/static/chunks/polyfills.js
.next/static/chunks/pages/moldex/mapa.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/main.js
.next/static/chunks/amp.js
.next/static/chunks/_error.js
.next/server/webpack-runtime.js
.next/server/pages/moldex/mapa.js
.next/server/pages/_error.js
.DS_Store
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/*
